@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome);
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
    color: rgb(227, 218, 211);
}

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
    margin-right: 5px;
}

html,
body {
    color: rgb(227, 218, 211);
    width: 100%;
    height: 100%;
}

ul {
    padding-left: 0px;
}

li {
    list-style-type: none;
}

input {
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

button {
    border: 0;
    color: rgb(227, 218, 211);
}

button:focus {
    outline: 0px;
}

#list-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 250px;
}

#map-container {
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

#pano {
    width: 300px;
    height: 200px;
}

.outScreen {
    -webkit-transform: translateX(-270);
    transform: translateX(-270px);
}

.animation {
    -webkit-transition: transform 1s;
    transition: transform 1s;
    will-change: transform;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.row {
    width: 100%;
}

.col-4 {
    width: 25%;
}

.col-6 {
    width: 50%;
}

.col-8 {
    width: 75%;
}

.col-12 {
    width: 100%;
}

.flex {
    display: flex;
    display: -webkit-flex;
}

.direction-column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.dir-column {
    flex-direction: column;
    flex-wrap: nowrap;
}

.padding-between {
    padding: 10px 0;
}

.padding-around {
    padding: 10px;
}

.padding-bottom {
    padding-bottom: 5px;
}

.margin-lateral {
    margin: auto 5px;
}

.margin-right {
    margin-right: 10px;
}

.margin-left {
    margin-left: 10px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-black {
    color: rgb(0, 0, 0);
}

.big-font {
    font-size: 2em;
}

.truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: 3.6em;
    overflow-wrap: break-word;
}

.background-black {
    background-color: rgb(0, 0, 0);
}

.relative {
    position: relative;
}

.infoContent {
    font-family: 'Pangolin', cursive;
}

.pointer:hover {
    cursor: pointer;
}

.place {
    display: inline-block;
    margin: 0px;
}

.place:hover {
    color: rgb(0, 128, 255);
}

.input-button {
    padding: 5px;
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(0, 128, 255);
}

.place-button {
    padding: 2px 4px;
}

.place-button:hover {
    background-color: red;
}

.flicker-photo {
    width: 120px;
    height: 100px;
}

@media screen and (min-width: 1390px) {
    #list-container {
        transform: translateX(0);
    }
    #edit-buttom-container {
        transform: translateY(-50px)
    }
}

@media screen and (max-width: 340px) {
    #personal-info-container {
        text-align: left;
    }
}